.layout__contact{
  min-height: 100vh;
}
#contact{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.contact {
  padding: em(100) 0 0 em(70);
  &__background{
    min-height: 100vh;
    min-width: 30vw;
    right: 0;
  }
  .coordinates{
    background-color: $color_darkGreen;
    min-width: 320px;
    position: relative;
    top: -55px;
    padding: em(100);
    &__title{
      font-size: em(24);
      margin-bottom: em(8);
    }
    section{
      margin-bottom: em(30);
    }
  }
  .coordinates, a:hover, a:visited, a{
    color:white;
  }
  a:hover{
    font-weight: normal;
  }
  &__title {
    margin-bottom: em(22);
    font-size: em(52);
  }
  &__name, {
    display: flex;
    .contact{
      &__field{
        input{
          width: 255px;
        }
        #firstname{
          margin-right: em(40);
        }
      }
    }
  }
  &__field{
      display: flex;
      flex-direction: column;
    label{
      margin-bottom: 10px;
    }
    input{
      height: 30px;
    }
    input, textarea{
      margin-bottom: 20px;
      max-width: 552px;
      background-color: $color_lightGreen;
      border:none;
    }
  }
  &__footer{
    display: flex;
    flex-direction: row-reverse;
    button{
      min-width: 230px;
      min-height: 30px;
      background-color: $color_darkGreen;
      border:none;
      color:white;
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 990px) {
  #lastname, #firstname{
    width: inherit
  }
  #contact{
    flex-direction: column-reverse;
  }
  .contact{
    .coordinates{
      padding: 3em 3em 5em;
      top:0;
      text-align: center;
      width: 109%;
      left: -70px;
      &__content{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      }
      &__mail, &__phone, &__address{
        min-width: 30%;
      }
      &__postal{
        line-height: 1.6em;
      }
      &__address{
        margin-bottom: 0;
      }
    }
    padding-right: 4.375em;
    input, textarea{
      max-width: inherit;
    }
    &__content{
      margin-bottom: 2em;
    }
    &__name{
      justify-content: space-between;
      .contact{
        &__field{
          min-width: 50%;
        }
      }
    }
    &__footer{
      max-width: inherit;
      margin-bottom: 3em;
    }
    &__background{
      display: none;
    }
  }
}
@media screen and (max-width: 769px) {
  .contact{
    padding: 6em 2em 0;
    &__title{
      font-size: em(46);
      margin-bottom: 1em;
    }
    &__name {
    flex-direction: column;
      .contact__field{
        #firstname {
          margin-right: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .contact{
    padding-right: 1em;
    padding-left: 1em;
  }
}