footer {
  .footer{
    &__item:hover{
      filter: invert(23%) sepia(14%) saturate(739%) hue-rotate(162deg) brightness(90%) contrast(95%);
    }
    &__item{
      transition-property: filter;
      transition-duration: .2s;
      filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(167deg) brightness(106%) contrast(101%);
    }
    &__socials{
      font-size: em(16);
      align-items: center;
    }
    &__item{
      margin-right: .8em;
    }
    &__item, &__fig, &__img{
      max-width: 25px;
      min-width: 25px;
    }
    &__all{
      padding: 0 40px;
      justify-content: space-between;
      bottom: 50px;
      height: 50px;
    }
  }
}
.isGreen{
  background-color: $color_darkGreen;
  color: white;
  li a:hover, a:visited, .menu-btn:hover{
    color:white;
  }
}

.isWhite{
  background-color: rgba(0,0,0, 0);
  color:$color_fontDark;
  li a:hover, a:visited, .menu-btn:hover{
    color:$color_darkGreen;
  }
  .footer__item{
    transition-property: filter;
    filter: invert(43%) sepia(4%) saturate(3835%) hue-rotate(109deg) brightness(76%) contrast(89%);
  }
}
.green{
  background-color: $color_darkGreen;
  color: white;
  li a:hover, a:visited, .menu-btn:hover{
    color:white;
  }
}
@media screen and (max-width: 990px) {
  .greenContact{
    background-color: $color_darkGreen;
    color: white;
    li a:hover, a:visited, .menu-btn:hover{
      color:white;
    }
    .footer__item{
      filter: invert(100%) sepia(1%) saturate(2809%) hue-rotate(103deg) brightness(113%) contrast(100%);    }
  }
}
