body{
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $color_fontDark;
  background-color: white;
}
a:visited, a:hover, a:active, a   {
  color: $color_fontDark;
}
a:hover, a:active  {
font-weight: bolder;
}
a{
  text-decoration: none;
}

.hidden{
  position: absolute;
  opacity: 0;
}
.bold{
  font-weight: bold;
}
.page {
  a{
    font-weight: bolder;
  }
  .hero__title, .projects__title, .presentation__title{
    font-family: "tenez", sans-serif;
  }
  .hero {
    min-height: 110vh;
    &__content{
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      padding-top: em(100);
      padding-bottom: em(80);
    }
    &__title {
      font-size: em(58);
      margin-bottom: em(10);
    }

    &__presentation {
      font-size: em(19);
      color: $color_lightFont;
      line-height: em(25);
    }
    &__fig {
      max-width: 430px;
      max-height: 530px;
      margin-left: em(70);
    }
    &__img {
      width: 430px;
      height: 530px;
      object-fit: cover;
    }
    &__regroup {
      max-width: 500px;
      margin-left: em(90);
      display: flex;
      align-self: center;
      flex-direction: column;
    }
    &__background{
      position: absolute;
      min-height: 120vh;
      min-width: 37vw;
      z-index: -1;
      background-color: $color_lightGreen;
    }
  }
  .projects{
    background-color: $color_darkGreen;
    min-height: 100vh;
    padding: 50px 70px 0;
    &__regroup{
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    &__title, &__all{
      color:white;
    }
    &__title{
      font-size: em(36);
    }
    &__all{
      text-transform: uppercase;
      align-self: center;
      letter-spacing: .15rem;
    }
    &__articles{
      display: flex;
      justify-content: space-between;
    }
    .project{

      &__link{
        width: 100px;
        text-align: center;
        position: absolute;
        font-family: "Tenez", sans-serif;
        padding: 15px 70px;
        background-color: white;
        align-self: end;
        z-index: 20;
        bottom: -25px;
        font-size: em(20);
      }
      &__fig, &__fig::before{
        max-width: 293px;
        max-height: 322px;
      }
      &__fig{
        margin-top: em(70);
        position: relative;
        display: flex;
        justify-content: center;
      }
      &__img{
        width: 293px;
        height: 322px;
        object-fit: cover;
      }
      &__fig::before{
        content: '';
        z-index: 10;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        background: linear-gradient(0deg, rgba(8, 28, 21, 1), rgba(8, 28, 21, 0));
      }
    }
  }
  .presentation{
    min-height: 80vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    &__title{
      font-size: em(36);
      line-height: em(20);
      margin-bottom: em(10);
    }
    &__text{
      line-height: em(26);
    }
    &__fig{
      max-width: 400px;
      max-height: 430px;
    }
    &__img{
      width: 400px;
      height: 430px;
      object-fit: cover;
    }
    &__regroup{
      max-width: 440px;
      margin-left: em(90);
      display: flex;
      align-self: center;
      flex-direction: column;
    }
  }

  .footer{
    min-height: 25vh;
    background-color: $color_darkGreen;
    padding: 40px 65px;
    &__regroup{
      display: flex;
      flex-direction: column;
      padding-bottom: 30px;
      border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
    }
    &__title{
      color:white;
      margin-bottom: 25px;
      font-size: em(26);
    }
    &__title,&__contact{
      font-family: "Tenez", sans-serif;
      align-self: center;
    }
    &__contact{
      background-color: white;
      padding: 15px 40px;
      font-size: em(20);
    }
  }
}