.page {
  a{
    font-weight: bolder;
  }
  .hero {
    &__content{
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      padding: em(100) em(70) em(80);
    }
    &__title {
      font-size: em(58);
      margin-bottom: em(10);
    }

    &__presentation {
      font-size: em(19);
      color: $color_lightFont;
      line-height: em(25);
    }
    &__fig {
      position: relative;
      max-width: 430px;
      max-height: 530px;
      margin-left: 0;
    }
    &__fig::after{
      animation: rotation 12s infinite linear;
      top: -75px;
      right: -75px;
      position: absolute;
      content:url('../img/emiliecolleye.svg');
      width: 150px;
      height: 150px;
      z-index: 20;
    }
    &__fig:hover::after{
      animation-play-state: paused;
    }
    &__img {
      width: 430px;
      height: 530px;
      object-fit: cover;
    }
    &__regroup {
      max-width: 500px;
      margin-left: em(90);
      display: flex;
      align-self: center;
      flex-direction: column;
    }
    &__background{
      min-height: 120vh;
      min-width: 37vw;
    }
  }
  .projectsIndex{
    background-color: $color_darkGreen;
    min-height: 650px;
    padding: 70px 60px 0;
    &__regroup{
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    &__title, &__all{
      color:white;
    }
    &__title{
      font-size: em(36);
    }
    &__all{
      font-weight: 400;
      text-transform: uppercase;
      align-self: center;
      letter-spacing: .15rem;
    }
    &__all::after{
      transition: transform 0.3s ease;
      position: relative;
      top:7px;
      margin-left: em(20);
      display: inline-block;
      width: 25px;
      height: 25px;
      content:url('../img/arrow-right.svg');
    }
    &__all:hover::after{
      transform: translateX(3px);
    }
    &__articles{
      display: flex;
      justify-content: space-between;
    }
    .project{
      &__fig:hover{
          filter: brightness(0.5);
          transition: .3s ease-in-out;
      }
      &__link{
        width: 100px;
        text-align: center;
        position: absolute;
        padding: 15px 70px;
        background-color: white;
        align-self: end;
        z-index: 20;
        bottom: -25px;
        font-size: em(20);
      }
      &__fig, &__fig::before{
        max-width: 293px;
        max-height: 322px;
      }
      &__content{
        margin-bottom: 5em;
        max-width: 293px;
        position: relative;
        display: flex;
        justify-content: center;
      }
      &__fig{
        margin-top: em(70);
        position: relative;
        display: flex;
        justify-content: center;
      }
      &__img{
        width: 293px;
        height: 322px;
        object-fit: cover;
      }
      &__fig::before{
        content: '';
        z-index: 10;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        background: linear-gradient(0deg, rgba(8, 28, 21, 1), rgba(8, 28, 21, 0));
      }
    }
  }
  .presentation{
    min-height: 80vh;
    &__content{
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      min-height: 80vh;
    }
    &__background{
      margin-top: -120px;
      z-index: 1;
      min-height: 286px;
      min-width: 394px;
    }
    &__title{
      font-size: em(36);
      line-height: em(20);
      margin-bottom: em(10);
    }
    &__text{
      line-height: em(26);
    }
    &__fig{
      z-index: 2;
      max-width: 400px;
      max-height: 430px;
      align-self: center;
    }
    &__img{
      width: 400px;
      height: 430px;
      object-fit: cover;
      position: relative;
      z-index: 2;
    }
    &__regroup{
      max-width: 440px;
      margin-left: em(90);
      display: flex;
      align-self: center;
      flex-direction: column;
      min-height: 100%;
    }
  }
  .footer{
    background-color: $color_darkGreen;
    padding: 40px 65px;
    &__regroup{
      display: flex;
      flex-direction: column;
      padding-bottom: 30px;
      border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
    }
    &__title{
      color:white;
      margin-bottom: 25px;
      font-size: em(26);
    }
    &__title,&__contact{
      align-self: center;
    }
    &__contact{
      border: white solid 1px;
      background-color: white;
      padding: 15px 40px;
      font-size: em(20);
    }
    &__contact:hover{
      border: white solid 1px;
      background-color: $color_darkGreen;
      color:white;
      transition-duration: .4s;
    }
  }
}

@media screen and (max-width: 990px) {
  .page{
    .hero{
      &__img{
        width: 400px;
        height: 500px;
      }
      &__regroup{
        margin-left:em(50);
      }
      &__fig{
        max-width: 400px;
        max-height: 500px;
      }
      &__title{
        font-size: em(46);
      }
    }

    .projectsIndex {
      min-height: 80vh;
      &__title{
        font-size: 2em;
      }
      &__all{
        font-size: em(12);
      }
      .project{
        &__fig, &__fig::before{
          max-width: 233px;
          max-height: 262px;
        }
        &__img{
          width: 203px;
          height: 232px;
        }
        &__link{
          width: 100px;
          padding: em(15) em(30);
          font-size: em(16);
        }
      }
    }
    .presentation{
      .background{
        min-width: 304px;
      }
      &__title{
      font-size: 2em;
      }
      &__content{
        padding: em(70);
        min-height: 60vh;
      }
      &__text{
        font-size: 1em;
      }
      &__regroup{
        margin-left: em(40);
        max-width: 350px;
      }
      &__fig{
        max-width: 350px;
        max-height: 380px;
      }
      &__img{
        width: 350px;
        height: 380px;
      }
    }
  }
}
@media screen and (max-width: 769px) {
.page{
  &__footer{
    padding: 3em 2em;
  }
  .hero{
    max-height: 650px;
    &__content{
      flex-direction: column-reverse;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
    }
    &__fig::after{
      content:'';
    }
    &__regroup{
      padding: 0 3em 2em 3em;
      margin: 0;
      position: relative;
      top: -140px;
    }
    &__fig{
      height: 500px;
      max-height: inherit;
      max-width: 100%;
      position: relative;
      z-index: -1;
    }
    &__fig::before{
      content: '';
      z-index: 10;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      background-color: rgba(255,255,255,0.6);
    }
    &__img{
      min-width: 100vw;
      height: 100%;
    }
  }
  .projectsIndex{
    display: flex;
    flex-direction: column;
    padding: em(50) 2em 4em 2em;

    &__articles{
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__title{
      max-width: 350px;
      line-height: 1.3em;
      font-size: em(24);
    }
    .project{
      align-self: center;
      &__link{
        width: 50%;
      }
      &__img{
        min-width: 100%;
      }
      &__fig{
        margin-top: 0;
      }
      &__fig, &__fig:before{
        max-width: inherit;
      }
    }
    &__regroup{
      margin-bottom: 3em;
    }
    &__all::after{
      width: 20px;
      height: 20px;
    }
  }
  .presentation{
    &__background{
      margin-top: em(-50);
      width: 60vw;
    }
    &__content{
      flex-direction: column-reverse;
      padding-left: 2em;
      padding-right: 2em;
    }
    &__regroup{
      margin-left: 0;
      max-width: 500px;
    }
    &__title{
      font-size: em(24);
      margin-bottom: 1em;
    }
    &__fig{
      margin-bottom: 3em;
    }
  }
  .footer{
    &__title{
      font-size: em(20);
    }
    &__contact{
      font-size: em(16);
    }

  }
}
}
@media screen and (max-width: 479px){
  .page{
    .hero{
      &__content{
        padding-bottom: 0;
        justify-content: flex-end;
      }
      &__regroup{
        padding: 0 1em 2em 1em;
      }
      &__title{
        font-size: em(40);
        margin-bottom: 1em;
      }
      &__fig{
        margin-top: 0;
      }
    }
    .projectsIndex{
      &__regroup{
        width: 100%;
        a{
          align-self: center;
        }
      }
    }
    .presentation{
      &__fig, &__img{
        max-width: 100%;
      }
    }
  }
}