
.singleProject{
  padding: em(100) em(70)  ;
  &__article{
    margin: 0 auto;
    max-width: 1000px;
  }
  &__background{
    z-index: -1;
    width: 100vw;
    background-color: $color_darkGreen;
    height: 50vh;
    position: absolute;
    margin: em(-100) em(-70) 0 ;
  }
  a:hover{
    font-weight: normal;
  }
  a, a:visited, &__title{
    color:white;
  }
  &__title{
    font-size: em(52);
    margin-bottom: em(22);
  }
  &__links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__link{
    &--1, &--2{
      text-align: center;
      background-color: $color_darkGreen;
      min-width:120px;
      min-height: 30px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      padding: em(10);
      a{
        align-self: center;
      }
    }
  }
  &__hero{
    padding-top: 2em;
    margin-bottom: 5em;
    &--img{
      max-height: 400px;
      margin-right: 2em;
      width: 600px;
      object-fit: cover;
    }
    &--fig{
      max-width: 600px;
      max-height: 400px;
    }
  }
  &__hero,&__content{
    justify-content: space-between;
  }
  &__hero,&__content, &__figures{
    display: flex;
  }
  &__figures{
    align-self: center;
  }
  &__fig{
    max-width: 200px;
    max-height: 300px;
  }
  &__fig:nth-child(1), &__fig:nth-child(2){
    margin-right: 1em;
  }
  &__fig:nth-child(2){
    margin-top: em(25);
    z-index: 2;
  }
  &__img{
    width:  250px;
    height: 350px;
    object-fit: cover;
  }
  &__presentation{
    &--1, &--2 {
      max-width: 400px;
      line-height: em(26);
    }
    &--1{
      align-self: end;
    }
    &--2{
      margin-bottom: em(50);
      margin-right: 2em;
      width: 300px;
    }
  }
}
@media screen and (max-width: 990px) {
  .singleProject{
    &__article{
      max-width: 700px;
    }
    &__presentation{
      &--2{
        margin-top: 5em;
        width: 100%;
      }
    }
    &__links{
      justify-content: flex-start;
    }
    &__link{
      &--1{
        margin-right: 1em;
      }
    }
    &__hero{
      align-items: center;
      flex-direction: column;
      margin-bottom: 4em;
      align-items: center;
      &--fig{
        margin-bottom: 2em;
        max-width: 100%;
      }
      &--img{
        max-width: 100%;
      }
    }
    &__content{
      flex-direction: column-reverse;
    }
    &__fig{
      max-width: 33%;
    }
    &__img{
      width:fit-content;
    }
    &__figures{
      margin-bottom: 2em;
    }
    &__presentation, &__presentation--1, &__presentation--2{
      max-width: 600px;
      align-self: center;
    }
  }
}
@media screen and (max-width: 769px){
  .singleProject{
    padding-left: 2em;
    padding-right: 2em;
    &__background{
      margin: -6.25em -2em 0;
    }
    &__presentation{
      &--1, &--2{
        max-width: 500px;
      }
    }
    &__fig{
      position: relative;
    }

    &__fig:nth-child(1), &__fig:nth-child(3){
      filter:blur(1px);
    }
    &__fig:nth-child(1), &__fig:nth-child(2){
      margin-right: 0;
    }
    &__fig:nth-child(1){
      right: -10%;
    }
    &__fig:nth-child(3){
      left: -10%;
      z-index: -1;
    }
  }
}

@media screen and (max-width: 479px){
  .singleProject{
    &__figures{
      justify-content: center;
      flex-direction: column;
    }
    &__fig{
      position: inherit;
      margin-bottom: 3em;
    }
    &__fig:nth-child(1), &__fig:nth-child(3){
      filter:none;
    }
    &__presentation{
      max-width: 100%;
    }
    &__links{
      flex-direction: column;
    }
    &__link{
      &--1{
        margin-right: 0;
      }
    }
    &__link{
      &--1{
        margin-bottom: 1em;
      }
    }
  }
}
